<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "static/style.css"/>
    <title>QuakeFind</title>
</head>
<body>
    <h1 class="top">Quake-Find</h1>
    <h2 class="mid">The Mobile Solution to the Advancement of Diaster Relief and Humanitarian Aid</h2>
    <div>
        <img class="map" src={{link}}></img>
    </div>
    <p class="info" align="center"><span class="bold">Time of Detection: </span>{{time}}</p>
    <p class="info" align="center"><span class="bold">Latitude: </span>{{latitude}}</p>
    <p class="info" align="center"><span class="bold">Longitude: </span>{{longitude}}</p>
    <div align="center">
    <a href={{maps_link}} class="info" target="_blank">View in Google Maps</a>
    </div>
</body>
</html>